**/*.env
**/.DS_Store
**/.env
**/.env.*
**/.idea
**/.mypy_cache
**/.venv
**/.vscode
**/venv
.Rhistory
.Rproj.user
.git
.gitattributes
.github
.gitignore
.pre-commit-config.yaml
.yamllint.yaml
.yamllint.yml
